
.swiper-pagination {
  position: relative !important; 
  margin-top: 22px; 
}

.swiper-pagination-bullet {
  width: 30px;
  height: 6px;
  border-radius: 10px;
  background: #444;
  transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  background: #ff006e; 
  width: 40px;
}
